
/public/hot
/public/storage
/storage/*.key

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
error_log
yarn-error.log
/.idea
/.vscode
.DS_Store
storage/backup/
storage/app/private/backups/*.sql
storage/app/private/backups/*.sql.gz
storage/app/private/backups/*.cnf
.env
node_modules
